.git
.agents
.idea
.pytest_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.log
celerybeat-schedule
output
storage

FaceVerse_v4/.git
FaceVerse_v4/example/output
FaceVerse_v4/__pycache__
FaceVerse_v4/**/__pycache__
